aiobotocore
aioboto3
boto3
botocore
attrs>=23.1.0
fastapi>=0.109.0
jinja2>=3.1.0
pydantic>=2.5.0
python-dotenv>=1.0.0
uvicorn>=0.27.0
psycopg2-binary>=2.9.8
aiopg>=1.4.0
aiohttp>=3.11.0
wrapt>=1.15.0
aioitertools>=0.11.0
PyJWT==2.10.1
websockets==15.0.1
asyncpg
gTTS==2.5.4
numpy
pydub==0.25.1
soundfile==0.13.1
python-multipart==0.0.20
webrtcvad-wheels
openai
google-genai
noisereduce
pyyaml
cryptography

langchain==0.3.26
langchain-aws==0.2.27
langchain-core==0.3.68
langchain-text-splitters==0.3.8
langgraph==0.5.1
langgraph-checkpoint==2.1.0
langgraph-prebuilt==0.5.2
langgraph-sdk==0.1.72
langsmith==0.4.4

tiktoken